.featured {
  color: var(--color-primary);
}

.background {
  margin: 2rem 0;
  padding: 2rem;
  text-align: left;
  background: var(--color-secondary);
  transform: translate(1rem, -1rem);
}

.job {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text);
}

.title {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 0.5rem;
  color: var(--color-text);
}

.bottom {
  margin-top: 2rem;
}

.dates {
  font-weight: bold;
}
