.historySection {
  margin: 2rem 0;
  text-align: left;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.jobBackground {
  color: var(--color-primary);
  width: auto;
  display: inline-block;
  transform: translateX(-1rem);
}

.job {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 1rem;
  color: var(--color-text);
  transform: translate(1rem, -1rem);
  background: var(--color-secondary);
  margin: 0;
  box-shadow: var(--box-shadow);
}

.title {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 1rem;
  color: var(--color-text);
  transform: translate(1rem, -1rem);
  margin: 0;

  @media screen and (max-width: 500px) {
    width: 100%;
    transform: unset;
    padding: 0;
  }
}

.bodyWrapper {
  display: flex;
  margin-top: 2rem;
}

.bar {
  height: 80px;
  width: 10px;
  background: var(--color-primary);
  flex-shrink: 0;
  margin-right: 2rem;
  margin-left: 2rem;
  box-shadow: var(--box-shadow);

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.dates {
  font-weight: bold;
}
