.hero {
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-secondary);
  position: relative;
  box-shadow: var(--box-shadow);
}

.background {
  color: var(--color-primary);
  position: absolute !important;
  top: calc(0px - var(--hero-offset));
  left: calc(0px - var(--hero-offset));
  right: calc(0px - var(--hero-offset));
  bottom: calc(0px - var(--hero-offset));
}

.content {
  text-align: left;
  color: var(--color-text);
  position: relative;
  width: 100%;
  margin-left: 4rem;
  margin-right: 4rem;
}

.title {
  font-size: 5rem;
  background: var(--color-secondary);

  @media screen and (max-width: 500px) {
    font-size: 3rem;
  }
}

.subtitle {
  background: var(--color-secondary);
}

.new {
  background: none;
  border: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: var(--color-text);
  opacity: 0.2;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    opacity: 0.5;
  }
}
