.hero {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-secondary);
  position: relative;
}

.heroBackground {
  color: var(--color-primary);
  position: absolute !important;
  top: calc(0px - var(--hero-offset));
  left: calc(0px - var(--hero-offset));
  right: calc(0px - var(--hero-offset));
  bottom: calc(0px - var(--hero-offset));
}

.heroContent {
  text-align: left;
  color: var(--color-text);
  position: relative;
  width: 100%;
  margin-left: 4rem;
  margin-right: 4rem;
}

.title {
  font-size: 5rem;
  background: var(--color-secondary);
}

.subtitle {
  background: var(--color-secondary);
}

.new {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: var(--color-text);
  opacity: 0.2;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    opacity: 0.5;
  }
}

.theme {
  position: absolute;
  bottom: 1rem;
  right: 10rem;
  color: var(--color-text);
  opacity: 0.2;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    opacity: 0.5;
  }  
}
