.title {
  font-size: 4rem;
  color: var(--color-text);
  text-align: left;
  position: relative;

  @media screen and (max-width: 500px) {
    font-size: 3rem;
  }

  &:first-child {
    margin-top: 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    height: 10px;
    width: 100%;
    transform: translateY(-5px);
    margin-left: 1rem;
    background: var(--color-primary);
    box-shadow: var(--box-shadow);
  }
}
