.about {
  margin: 6rem;
}

.titleWrapper {
  overflow: hidden;
}

.aboutContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 6rem 0;
  flex-wrap: wrap;
}

.smaller {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 700px) {
    max-width: 100%;
  }
}

.pictureWrapper {
  display: inline-block;
  text-align: left;
  color: var(--color-primary);
  margin-right: 3rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.picture {
  height: 200px;
  width: 200px;
  background: var(--color-secondary);
  padding: 1rem;
  transform: translate(1rem, -1rem);
}

.right {
  flex-basis: 400px;
  flex-grow: 1;
}

.body {
  text-align: left;
  color: var(--color-text);
  font-size: 1.125rem;
  line-height: 1.5;

  &:first-child {
    margin-top: 0;
  }
}

.skillsSection {
  max-width: 60%;
  margin: 0 auto;
  min-height: 60px;

  @media screen and (max-width: 700px) {
    max-width: 100%;
  }
}
