:root {
  --color-black: #333333;
  --color-white: #ffffff;

  --color-peach: #f8b195;
  --color-pink: #f67280;
  --color-red: #c06c84;
  --color-purple: #6c5b7b;
  --color-blue: #355c7d;

  --hero-offset: 2rem;
  --max-width: 1000px;
  --box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.24);
}

html {
  overflow-x: hidden;
  box-sizing: border-box;

  @media screen and (max-width: 1000px) {
    font-size: 14px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: sans-serif;
  text-align: center;

  --color-primary: var(--color-peach);
  --color-secondary: var(--color-purple);

  --color-text: var(--color-black);
  --color-background: var(--color-white);
}

.App {
  min-height: 100vh;
  max-width: 100vw;
  background: var(--color-background);
  color: var(--color-text);
  overflow: hidden;

  --color-primary: var(--color-purple);
  --color-secondary: var(--color-peach);

  --color-text: var(--color-black);
  --color-background: var(--color-white);

  &.theme-light {
    --color-primary: var(--color-purple);
    --color-secondary: var(--color-peach);

    --color-text: var(--color-black);
    --color-background: var(--color-white);
  }

  &.theme-dark {
    --color-primary: var(--color-peach);
    --color-secondary: var(--color-purple);

    --color-text: var(--color-white);
    --color-background: var(--color-black);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--color-primary);
  font-weight: bold;
}
