.findMe {
  margin: 12rem 6rem;
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.externalSection {
  margin-top: 4rem;
  margin-bottom: 4rem;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.externalBackground {
  color: var(--color-primary);
  width: auto;
  display: inline-block;
  margin-right: 2rem;
  transform: translateX(-1rem);
}

.external {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 1rem;
  color: var(--color-text);
  transform: translate(1rem, -1rem);
  background: var(--color-secondary);
  margin: 0;
  box-shadow: var(--box-shadow);
}

.link {
  display: inline-block;
  transform: translateY(-1rem);

  @media screen and (max-width: 500px) {
    width: 100%;
    margin-top: 2rem;
  }
}
