.history {
  margin: max(calc(var(--hero-offset) * 4), 4rem) 4rem;
  overflow: hidden;
}

.historyContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 6rem 0;
  flex-wrap: wrap;
}

.body {
  text-align: left;
  color: var(--color-text);
  font-size: 1.25rem;
  line-height: 1.5;

  &:first-child {
    margin-top: 0;
  }
}
