.nav {
  height: 60px;
  position: absolute;
  top: 1rem;
  right: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  max-width: 100vw;

  @media screen and (max-width: 1000px) {
    position: absolute;
  }

  &.fixed {
    position: fixed;
  }

  &.scrolled .navItem {
    box-shadow: var(--box-shadow);

    @media screen and (max-width: 1000px) {
      box-shadow: none;
    }

    &.top {
      opacity: 1;
      pointer-events: initial;
    }
  }
}

.navInner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.navItem {
  background: var(--color-secondary);
  font-weight: bold;
  margin-left: 1rem;
  list-style: none;
  transition: 0.2s ease opacity, box-shadow;

  &.top {
    opacity: 0;
    pointer-events: none;
  }

  &:not(.theme) {
    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  a {
    display: inline-block;
    padding: 1rem;
    color: var(--color-text);
    text-decoration: none;
  }
}
